/* AboutPage.css */

.about-container {
    text-align: center;
    padding: 10px;
    font-size: large;
    margin: 10px 0;
    color: #252728;
  }
  
  .about-heading {
    color: #23282c; 
  }
  
  .content-box {
    border: 3px solid #252728; 
    padding: 20px;
    margin: 10px 0;
  }

  .slogan {
    text-align: center;
    font-family:cursive;
    font-style: oblique;
    font-weight: bolder;
  }
  