/* CoursePage.css */
.course-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .search-bar {
    display: flex;
    align-items: flex-start; /* Align the search bar at the top */
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 400px; /* Make the search bar wider */
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px; /* Use a smaller font size */
    color: #555; /* Lighter text color */
  }
  
  .search-button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .course-details {
    width: 80%;
    max-width: 800px;
  }
  
  .oval-box {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px; /* Oval box */
  }
  
  .course-info h2,
  .course-contents h3,
  .course-reviews h3,
  .user-review-box h3 {
    color: #333;
    margin-bottom: 10px;
    font-size: 16px; /* Larger font size for headers */
  }
  
  .user-review,
  .course-contents li,
  .user-rating,
  .average-rating {
    font-size: 14px; /* Smaller font size for content */
    color: #555; /* Darker text color */
  }
  
  .rating-box p {
    margin-right: 10px;
  }
  
  .rating-box input {
    padding: 8px;
    border: 1
  }  