/* CourseP.css */
.course-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-input {
    width: 200px;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .search-button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .course-details {
    width: 80%;
    max-width: 800px;
  }
  
  .oval-box {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px; /* Oval box */
  }
  
  .course-info h2,
  .course-contents h3,
  .course-reviews h3 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .rating-box {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .rating-box p {
    margin-right: 10px;
  }
  
  .rating-box input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
  }
  