body {
  background-color: #ecf0f1;
  color: #2c3e50;
  font-family: 'Arial', sans-serif;
  margin: 0;
}

.course-page {
  text-align: center;
}

.search-bar {
  margin: 50px auto;
}

.search-bar input {
  width: 40%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-bar button {
  width: 10%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.course-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
}

.course-details-box {
  width: 80%;
  padding: 30px;
  border-radius: 15px;
  margin: 20px auto;
  background: linear-gradient(to right, #ecf0f1, #dfe6e9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: #333;
}

.course-details-heading {
  font-size: 28px;
  margin-bottom: 20px;
}

.detail-row {
  margin-bottom: 15px;
  text-align: left;
}

.rating-container {
  margin-top: 20px;
  text-align: left;
}

.star-rating {
  display: inline-block;
  margin-left: 20px;
}

.star {
  font-size: 24px;
  color: #f39c12;
  margin-right: 5px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.star.gold {
  color: #f1c40f;
}

.contents-box {
  width: 80%;
  padding: 30px;
  border-radius: 15px;
  margin: 20px auto;
  background: linear-gradient(to right, #ecf0f1, #dfe6e9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: #333;
}

.no-course-details-box {
  width: 50%;
  padding: 30px;
  border-radius: 15px;
  margin: 50px auto;
  background: linear-gradient(to right, #ecf0f1, #dfe6e9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: #333;
  text-align: center;
  font-weight: bold;
}

.course-details-box h2 {
  font-size: 24px;
  /* Increased font size */
  color: #333;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid #333;
  /* Border under the heading for separation */
}

.contents-box h2 {
  font-size: 24px;
  /* Increased font size */
  color: #333;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid #333;
  /* Border under the heading for separation */
}

.rate-section h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.rating-input {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.submit-rating {
  background-color: #2ecc71;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.submit-rating:hover {
  background-color: #27ae60;
}

.submitted {
  text-align: center;
}

.thank-you-box {
  font-size: 24px;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  background: linear-gradient(to right, #000000, #ffffff);
  /* Black to White Gradient */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: white;
  margin: 20px auto;
}

.thank-you-box p {
  margin: 0;
}

.grading-details-box {
  width: 80%;
  padding: 30px;
  border-radius: 15px;
  margin: 20px auto;
  background: linear-gradient(to right, #ecf0f1, #dfe6e9);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  color: #333;
}

.grading-details-box h2 {
  font-size: 24px;
  /* Increased font size */
  color: #333;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid #333;
  /* Border under the heading for separation */
}

.grading-details-box p {
  margin-bottom: 15px;

}
